worker_processes  1;

events {
    worker_connections  1024;
}

http {
    include       mime.types;
    default_type  application/octet-stream;
    sendfile        on;
    keepalive_timeout  65;

    server {
        listen       80;
        server_name  localhost;

		location / {
            root   /home/ruoyi/projects/ruoyi-ui;
			try_files $uri $uri/ /index.html;
            index  index.html index.htm;
        }

		location /prod-api/{
			proxy_set_header Host $http_host;
			proxy_set_header X-Real-IP $remote_addr;
			proxy_set_header REMOTE-HOST $remote_addr;
			proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
			proxy_pass http://localhost:8080/;
		}

        error_page   500 502 503 504  /50x.html;
        location = /50x.html {
            root   html;
        }
    }

#    server
#        {
#            listen 80;
#            server_name 域名/外网IP;
#            index index.html;
#            root  /usr/share/nginx/html/eladmin/dist;  #dist上传的路径
#
#            # 避免访问出现 404 错误
#            location / {
#              try_files $uri $uri/ @router;
#              index  index.html;
#            }
#
#            location @router {
#              rewrite ^.*$ /index.html last;
#            }
#
#            # 接口
#            location /api {
#              proxy_pass http://172.17.0.1:8000;
#              proxy_set_header X-Forwarded-Proto $scheme;
#              proxy_set_header X-Forwarded-Port $server_port;
#              proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
#              proxy_set_header Upgrade $http_upgrade;
#              proxy_set_header Connection "upgrade";
#            }
#
#            # 授权接口
#            location /auth {
#              proxy_pass http://172.17.0.1:8000;
#              proxy_set_header X-Forwarded-Proto $scheme;
#              proxy_set_header X-Forwarded-Port $server_port;
#              proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
#              proxy_set_header Upgrade $http_upgrade;
#              proxy_set_header Connection "upgrade";
#            }
#
#            # WebSocket 服务
#            location /webSocket {
#              proxy_pass http://172.17.0.1:8000;
#              proxy_set_header X-Forwarded-Proto $scheme;
#              proxy_set_header X-Forwarded-Port $server_port;
#              proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
#              proxy_set_header Upgrade $http_upgrade;
#              proxy_set_header Connection "upgrade";
#            }
#
#            # 头像
#            location /avatar {
#              proxy_pass http://172.17.0.1:8000;
#            }
#
#            # 文件
#            location /file {
#              proxy_pass http://172.17.0.1:8000;
#            }
#        }


}